<html>
    <head>
        <title>WikiTranslate</title>
    </head>
<body>
    <h1><a href='/wikitranslate'>WikiTranslate</a></h1>
<div>
    <form>
        Input language ({{ input_languages|length }} available):
        <select name='input-lang'>
          {% for lang_code, lang in input_languages %}
          <option value="{{lang_code}}" {{'selected=selected' if lang_code == input_lang  }}>{{ lang }}</option>
          {% endfor %}
        </select>
        {% if output_languages %}
        <br><br>
        Output language ({{ output_languages|length }} available):
        <select name='output-lang'>
          {% for lang_code, lang in output_languages %}
          <option value="{{lang_code}}" {{'selected=selected' if lang_code == output_lang}}>{{ lang }}</option>
          {% endfor %}
        </select>
        {% endif %}
        <br><br>
        Input word or phrase: <input type="text" name="input-text" value="{{input_text or ''}}">
        <br><br>
        <input type="submit" value="{{ 'Translate' if output_languages else 'See available languages' }}">
    </form>
    {% if translation %}
    <h2>Translation: <a href="{{input_wiki_link}}">{{input_text}}</a> > <a href="{{output_wiki_link}}">{{translation}}</a></h2>
    {% endif %}
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}
</body>
</html>
